const
  nmax = 10;

type
  tzap = record 
    fam: string[15]; 
    vid: string[15]; 
    raz: string[5]; 
    koloch: byte; 
  end;
  tfile = file of tzap;
  tmas = array[1..nmax] of tzap;

var
  a: tmas; 
  f, fnew: tfile; 
  zap: tzap; 
  n, i, j: byte; 
  vidudal, fdob1, fdob2, fdob, name: string[15];

procedure vvod(var f: tfile; n: byte; name: string[15]);
var
  i: integer;
begin
  writeln('zadaite name of file'); 
  readln(name); 
  AssignFile(f, name); 
  rewrite(f); 
  writeln('kolichestvo sportsmenov'); 
  readln(n); 
  for i := 1 to n do 
  begin
    writeln('sportsmen ', i); 
    write('famaliya '); 
    readln(zap.fam); 
    write('vid sporta '); 
    readln(zap.vid); 
    write('razrad '); 
    readln(zap.raz); 
    write('kolichestvo ochkov '); 
    readln(zap.koloch); 
    write(f, zap); 
  end; 
  closefile(f); 
  writeln('file sozdan'); 
  readln; 
end;{vvod} 

procedure vivod(var f: tfile; var n: byte);
var
  i: integer;
begin
  reset(f); 
  writeln('soderzaniye faila'); 
  writeln('__________________________________________________________________'); 
  writeln(' № / F A M I L I A/ V i d sporta / R A Z R A D /Kolichestvo ochkov'); 
  writeln('__________________________________________________________________'); 
  i := 0; 
  while not eof(f) do 
  begin
    read(f, zap); 
    inc(i); 
    writeln(i:3, zap.fam:15, zap.vid:15, zap.raz:15, zap.koloch:18); 
  end; 
  closefile(f); 
end;{vivod} 

procedure udal(var f: tfile; var fnew: tfile; var n: byte; vidudal: string[15]);
var
  i, j: integer;
begin
  reset(f); 
  reset(fnew); 
  writeln('vvedite sport dlya udaleniya'); 
  readln(vidudal); 
  reset(f); 
  while not eof(f) do 
  begin
    read(f, zap); 
    if zap.vid <> vidudal then 
      write(fnew, zap); 
  end; 
  closefile(f); 
  closefile(fnew); 
end;{udal} 

procedure dobav(var f, fnew: tfile);
var
  k, i: byte;
begin
  reset(fnew); 
  rewrite(f); 
  writeln('harakteristiki dobavlennih sportsmenov'); 
  k := 2; 
  for i := 1 to k do 
  begin
    writeln('sportsmen ', i); 
    write('famaliya '); 
    readln(zap.fam); 
    write('vid sporta '); 
    readln(zap.vid); 
    write('razrad '); 
    readln(zap.raz); 
    write('kolichestvo ochkov '); 
    readln(zap.koloch); 
    write(f, zap); 
  end; 
  while not eof(fnew) do 
  begin
    read(fnew, zap); 
    write(f, zap); 
  end; 
  closefile(f); 
  closefile(fnew); 
  erase(fnew); 
end;{resh} 


begin
  assignfile(fnew, 'temp.txt'); 
  vvod(f, n, name); 
  vivod(f, n); 
  udal(f, fnew, n, vidudal); 
  vivod(fnew, n); 
  erase(f); 
  assignfile(f, 'abc.txt'); 
  dobav( f, fnew); 
  vivod(f, n); 
  readln; 
end.
